<!DOCTYPE html>
<html lang="ru" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>RikkoPizza | Главная</title>
    <link rel="stylesheet" href="/css/bootstrap.css">
    <link rel="stylesheet" href="/css/navbar.css">
    <link rel="stylesheet" href="/css/dropdown.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
    <link rel="stylesheet" type="text/css" href="/css/owl.theme.default.css" />
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500,800" rel="stylesheet">
    <link rel="stylesheet" href="/css/splide.min.css">
</head>
<body class="container-fluid">
<main class="row">
    <div class="col-2 d-flex flex-column flex-shrink-0 p-3 bg-light sidebar sticky-top">
        <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
            <img src="/image/logo.png" class="img-fluid logo">
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto" id="navs">
            <li class="nav-item">
                <a href="#stocks" class="nav-link link-dark li-item active" aria-current="page">
                    <img src="/image/pizza.svg" class="li-icon">
                    Акции
                </a>
            </li>
            <li th:each="section : ${sections}" th:if="${!section.getItems().empty}">
                <a th:href=@{#section_{id}(id=${section.getId()})} class="nav-link link-dark li-item" aria-current="page">
                    <img class="li-icon"
                         th:attr="src=@{api/v1/section/{id}/icon/(id=${section.getId()})}">
                    <span th:text="${section.getTitle()}" ></span>
                </a>
            </li>
        </ul>
        <hr>
        <div class="d-flex justify-content-center">
            <a class="button" href="/login">Вход/Регистрация</a>
        </div>
    </div>
    <div class="col content container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light rounded sticky-top topbar">
            <div class="container-fluid d-flex justify-content-between">
                <div>
                    <a class="navbar-brand orange" href="#">Иркутск</a>
                    <a class="navbar-brand" href="#">261-268</a>
                </div>
                <ul class="navbar-nav">
                    <li class="nav-link orange">
                        Бонусы
                    </li>
                    <li class="nav-link orange">
                        Контакты
                    </li>
                </ul>
                <div>
                    <div class="dropdown">
                        <button onclick="myFunction()" class="dropbtn button right">Корзина</button>
                        <button class="dropbtn button left" id="allprice">
                            0 руб
                        </button>
                        <div id="myDropdown" class="dropdown-content">
                            <table class="table table-sm">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Название</th>
                                    <th>Количество</th>
                                    <th>Цена</th>
                                    <th></th>
                                </tr>
                                </thead>
                                <tbody id="cart">
                                </tbody>
                                <tfoot>
                                <th></th>
                                <th></th>
                                <th colspan="3" class="text-end"><button onclick="sendCart()" class="btn btn-outline-success btn-outline-primary-orange">Оформить заказ</button></th>
                                </tfoot>
                            </table>
                        </div>
                    </div>

                </div>
            </div>
        </nav>
        <div class="container-fluid">
            <section id="stocks">
                <h1>Акции</h1>
                <div class="splide">
                    <div class="splide__track">
                        <ul class="splide__list">
                            <li class="splide__slide">
                                <video src="/image/banner2.mp4" style="width: 100%;" autoplay="autoplay" muted loop></video>
                            </li>
                            <li class="splide__slide">
                                <img src="/image/banner1.png" style="width: 100%;">
                            </li>
                        </ul>
                    </div>
                </div>
            </section>
            <br><br>
            <section class="container" th:each="section : ${sections}" th:if="${!section.getItems().empty}" th:id="@{section_{id}(id=${section.getId()})}">
                <br><br>
                <h1 th:text="${section.getTitle()}">Заголовок</h1>
                <div class="row gx-5">
                    <div class="card card-up col-3" th:each="item : ${section.getItems()}">
                        <img th:attr="src=@{api/v1/item/{id}/image/(id=${item.getId()})}" class="card-img-top">
                        <div class="card-body">
                            <h5 class="text-center fw-bold" th:text="${item.getName()}">Название пиццы</h5>
                            <hr>
                            <p class="text-muted" th:text="${item.getDescription()}"></p>
                            <br>
                        </div>
                        <div class="card-footer bg-light">
                            <div class="align-self-end d-flex justify-content-between align-items-center">
                                <Span>
                                    Цена:
                                    <span class="fw-bold" th:text="${item.getPrice()}">250 рублей</span>
                                    р
                                </Span>
                                <a th:attr="onclick=@{getDataById({id})(id=${item.getId()})}" class="btn btn-outline-primary btn-outline-primary-orange">Выбрать</a>
                            </div>
                        </div>
                    </div>
                </div>
                <br><br>
            </section>
            <hr>
            <div class="delivery mb-2 bg-light d-flex justify-content-evenly align-items-center">
                <div class="col-6 mt-5">
                    <h1 class="delivery-header">
                        Бесплатная доставка
                        <br>по городу от 500 рублей
                    </h1>
                </div>
                <div class="col-2"></div>
                <div class="col-4">
                    <a target="_blank" href="https://yandex.ru/maps/63/irkutsk/?ll=104.321982%2C52.236031&amp;mode=usermaps&amp;source=constructorLink&amp;um=constructor%3A6c6bbb4935f24566247dc94a72bf341d10d5dfc5a256d9b043ebeedb6bdf5289&amp;z=13">
                        <img src="image/map.png" alt="" class="card-img-top float-right" style="border-radius: 10%">
                    </a>
                </div>
            </div>
            <div class="footer mt-5">
                <div class="">
                    <div class="row">
                        <div class="col-4">
                            г.Иркутск, ул.Старо-Кузьмихинская 48/1 <br>
                            п.Хомутово, Колхозная 196 Б <br>
                            <p class="fw-bold fs-2">261-268</p>
                        </div>
                        <div class="col-3">
                            Работаем с 10:00 до 23:00
                            <div class="row footer__icons">
                                <div class="col-4 vk">
                                    <img src="image/vk.png" width="50%">
                                </div>
                                <div class="col-4 inst">
                                    <img src="image/inst.png" width="50%">
                                </div>
                            </div>
                        </div>
                        <div class="col-1">
                            <a href="#stocks" class="text-decoration-none text-muted">Акции</a><br>
                            <a href="/bonus" class="text-decoration-none text-muted">Бонусы</a><br>
                            <a href="/contacts" class=" text-muted">Контакты</a><br>
                        </div>
                        <div class="col-4 text-end">
                            <a href="/how-to-order" class="text-decoration-none text-muted">Как сделать заказ?</a><br>
                            <a href="/how-to-delivery" class="text-decoration-none text-muted">Доставка</a><br>
                            <a href="/how-to-pay-order" class="text-decoration-none text-muted">Как оплатить?</a><br>
                            <a href="/offer" class="text-decoration-none text-muted">Публичная оферта</a><br>
                            <a href="/policy" class="text-decoration-none text-muted">Пользовательское соглашение</a><br>
                            <a href="#" class="text-decoration-none text-muted">© Rikko Pizza 2020. Все права защищены.</a><br>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
<script src="/js/sidebar.js"></script>
<script src="https://unpkg.com/@sidsbrmnn/scrollspy@1.0.4/dist/scrollspy.min.js"></script>
<script src="/js/splide.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        let slider = new Splide('.splide');
        slider.mount();
    })

</script>
<script>
    window.onload = function (){
        scrollSpy('#navs', {
            sectionSelector: 'section',
            targetSelector: '.nav-link',
            offset: 100
        });
    }
</script>
<script src="/js/cartController.js">
</script>
</body>
</html>